body
  background: #ccc;

$mouse-btn-color        = green
$mouse-container-width  = 5rem
$mouse-animation-speed  = 2s
$mouse-container-height = $mouse-container-width * 1.65
$mouse-radius           = 999px

.mouse-container
  position: absolute
  width   : $mouse-container-width
  height  : $mouse-container-height
  bottom : 20px
  right  : 20px
  .mouse
    position     : relative
    border-radius: $mouse-radius
    background   : #fff
    width        : 98%
    height       : 98%
    margin       : 1% auto
    box-shadow   : 0 0 2px 0px rgba(0,0,0,.25)
    text-align   : center      
    .button
      $mouse-container-width = 10%
      display      : inline-block
      position     : relative
      top          : 15%
      width        : $mouse-container-width
      padding      : 10% 0
      border-radius: $mouse-radius
      box-shadow   : inset 0 0 .5em rgba(0,0,0,.5), 0 .25em .25em #ccc
      -webkit-animation: pulse $mouse-animation-speed infinite;
      -o-animation     : pulse $mouse-animation-speed infinite;
      -moz-animation   : pulse $mouse-animation-speed infinite;
      animation        : pulse $mouse-animation-speed infinite;


@-webkit-keyframes pulse 
  0%    
    background: #ccc
    box-shadow: 0 0 1em rgba($mouse-btn-color,0)
  50%   
    background: $mouse-btn-color
    box-shadow: 0 0 1em rgba($mouse-btn-color,1)
  100%  
    background: #ccc
    box-shadow: 0 0 1em rgba($mouse-btn-color,0)
@-moz-keyframes pulse
  0%    
    background: #ccc 
    box-shadow: 0 0 1em rgba($mouse-btn-color,0)
  50%   
    background: $mouse-btn-color 
    box-shadow: 0 0 1em rgba($mouse-btn-color,1)
  100%  
    background: #ccc
    box-shadow: 0 0 1em rgba($mouse-btn-color,0)
@-o-keyframes pulse 
  0%    
    background: #ccc
    box-shadow: 0 0 1em rgba($mouse-btn-color,0)
  50%   
    background: $mouse-btn-color
    box-shadow: 0 0 1em rgba($mouse-btn-color,1)
  100%  
    background: #ccc
    box-shadow: 0 0 1em rgba($mouse-btn-color,0)
@keyframes pulse 
  0%    
    background: #ccc
    box-shadow: 0 0 1em rgba($mouse-btn-color,0)
  50%   
    background: $mouse-btn-color
    box-shadow: 0 0 1em rgba($mouse-btn-color,1)
  100%  
    background: #ccc
    box-shadow: 0 0 1em rgba($mouse-btn-color,0)
  
